language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'

notifications:
  email:
    - 303198069@qq.com

before_script:
  - composer self-update
  - COMPOSER_ROOT_VERSION=dev-master composer dump-autoload